body {
    font-family: 'Bungee Shade', cursive;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#menu #item {
    float: left;
}

#menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

#menu #item {
    float: left;
}

#menu #item a {
    background: rgba(11, 167, 76, 0.61);
    color: rgb(242, 244, 247);
    padding: 7px 5px;
    display: flex;
    font-family: 'Indie Flower', cursive;
    font-size: 30px;
    text-decoration: none;
}

#menu #item a:hover {
    background: rgb(0, 153, 255);
}